
.cart {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.cart > img {
    width: 70px;
    height: 70px;
}
/*  */

.popup {
    display: grid;
    grid-template-columns: repeat(3, 2fr) 1fr;
    align-items: center;
    justify-items: center;
    
}
.popup > img {
    width: auto;
    height: 30px;
}
